.wrapper {
  height: 110px;
  background-color: whitesmoke;
  display: flex;
  align-items: 'center';
  overflow-x: scroll;
}

.progressBar {
  height: 10px;
  width: 100%;
  background-color:lightgray;
}
.TimeProgressNode {
  height: 5px;
  background-color:indianred;
}
.ExtractProgressNode {
  height: 5px;
  background-color: aquamarine;
}

.item {
  font-family: "Oswald";
  height: 90px; 
  border: 1px solid gainsboro;
  border-width: 1;
  min-width: 10px;
  text-align: center;
  display:flex;
  flex-direction: column;
}

.item .view{
  text-align: center;
  height: 70%;
}

.item .remove{
  text-align: center;
  height: 30%;
  background-color:indianred;
}
.item .none{
  text-align: center;
  height: 20%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.controlPane {
  display:flex;
  flex-direction: row ;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.controlPane .controlButtons {
  display:flex;
  flex-direction:row;
}

.controlPane .controlButtons button{
  height: 30px;
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.helperText {
  margin: 20px;
  display:flex;
  justify-content: flex-end;
}