.topNavBar{
  display:flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 15px;
}

.logo{
  /* padding-left: 15px; */
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  color:black;
  letter-spacing: -0.15em;
}

.tabItem{
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color:black;
}

.tabItem:hover{
  text-decoration: underline;
  text-decoration-style: double;
}

.diviver {
  display:flex;
}

.solid {
  margin: 0;
  margin-bottom: 10px;
}